@model ChicoDoColchao.Dao.ProdutoDao

@{
    ViewBag.Title = "Produto - Cadastro";
}
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $("#txtMedida").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.getJSON("/Medida/Listar", { Descricao: request.term }, function (data, status, xhr) {

                        if (data == null || data.length <= 0) {
                            data.push({ MedidaID: 0, Descricao: "Medida não cadastrada" });
                        }

                        response($.map(data, function (medida) {
                            return { label: medida.Descricao, value: medida.MedidaID }
                        }));
                    });
                },
                select: function (event, ui) {

                    // apaga a pesquisa selecionada
                    if (ui.item.label == "Medida não cadastrada") {
                        ui.item.label = "";
                        ui.item.value = "";
                        return;
                    }

                    $("#MedidaID").val(ui.item.value);

                    ui.item.label = ui.item.label;
                    ui.item.value = ui.item.label;
                },
                change: function (event, ui) {
                    if (ui == null || ui.item == undefined || ui.item == null) {
                        $("#MedidaID").val("");
                    }
                }
            });

            $("#btnCadastrar").click(function () {

                var produtoDao = {};
                produtoDao.MedidaDao = {};

                produtoDao.Numero = $("#Numero").val();
                produtoDao.Descricao = $("#Descricao").val();
                produtoDao.CategoriaDao = [];
                produtoDao.CategoriaDao.push({ CategoriaID: $("#CategoriaID option:selected").val() });

                var lojaId = $("#LojaID option:selected").val();
                if (lojaId > 0) {
                    produtoDao.LojaProdutoDao = [];
                    produtoDao.LojaProdutoDao.push({ LojaID: lojaId, Quantidade: $("#Quantidade").val(), Ativo: true });
                }

                produtoDao.MedidaDao.MedidaID = $("#MedidaID").val();
                produtoDao.ComissaoFuncionario = $("#ComissaoFuncionario").val();
                produtoDao.ComissaoFranqueado = $("#ComissaoFranqueado").val();
                produtoDao.Preco = $("#Preco").val();

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Produto/Incluir",
                    data: produtoDao,
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Mensagem);
                            return;
                        }

                        $("#ProdutoForm")[0].reset();
                        $("#MedidaID").val("");
                        $("#Numero").val("");
                        $("#ComissaoFuncionario").val("");
                        $("#ComissaoFranqueado").val("");
                        $("#Quantidade").val("");
                        $("#Preco").val("");

                        alert(data.Mensagem);
                    }
                });

            });

            $("#btnAtualizar").click(function () {

                var produtoDao = {};
                produtoDao.MedidaDao = {};

                produtoDao.Numero = $("#Numero").val();
                produtoDao.Descricao = $("#Descricao").val();
                produtoDao.CategoriaDao = [];
                produtoDao.CategoriaDao.push({ CategoriaID: $("#CategoriaID option:selected").val() });
                produtoDao.MedidaDao.MedidaID = $("#MedidaID").val();
                produtoDao.ComissaoFuncionario = $("#ComissaoFuncionario").val();
                produtoDao.ComissaoFranqueado = $("#ComissaoFranqueado").val();
                produtoDao.LojaProdutoDao = [];
                produtoDao.LojaProdutoDao.push({ LojaID: $("#LojaID option:selected").val(), Quantidade: $("#Quantidade").val() });
                produtoDao.Preco = $("#Preco").val();

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Produto/Atualizar",
                    data: produtoDao,
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Mensagem);
                            return;
                        }

                        $("#ProdutoForm")[0].reset();
                        $("#MedidaID").val("");
                        $("#Numero").val("");
                        $("#ComissaoFuncionario").val("");
                        $("#ComissaoFranqueado").val("");
                        $("#Quantidade").val("");
                        $("#Preco").val("");

                        alert(data.Mensagem);
                    }
                });

            });

            $("#btnLista").click(function () {
                window.location.href = "/Produto/Lista";
            });
        });
    </script>
}
<div class="container">
    <h2><i class="glyphicon glyphicon-th" style="color: #0f3456" title="Produto"></i> Cadastro de Produtos</h2>
    <hr />
    <form id="ProdutoForm" name="ProdutoForm">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Numero, new { @class = "form-control produto", @placeholder = "Número do produto", @maxlength = "15" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control", @placeholder = "Descrição do produto", @maxlength = "300" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.DropDownListFor(x => x.CategoriaDao.FirstOrDefault().CategoriaID, new SelectList(Model.CategoriaDao, "CategoriaID", "Descricao"), "Qual a categoria do produto?", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <input id="txtMedida" name="txtMedida" type="text" class="form-control" placeholder="Medida do produto (Mínimo de 3 letras)" />
                    <input id="MedidaID" name="MedidaID" type="hidden" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.ComissaoFuncionario, new { @class = "form-control comissao", @placeholder = "% Rentabilidade consultor (opcional)", @maxlength = "3" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.ComissaoFranqueado, new { @class = "form-control comissao", @placeholder = "% Rentabilidade lojista (opcional)", @maxlength = "3" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.DropDownListFor(x => x.LojaDao.FirstOrDefault().LojaID, new SelectList(Model.LojaDao, "LojaID", "NomeFantasia"), "Loja do produto", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <input type="text" id="Quantidade" name="Quantidade" class="form-control quantidade" placeholder="Quantidade" maxlength="3" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <input type="text" id="Preco" name="Preco" class="form-control valor" placeholder="Preço de Compra" maxlength="15" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <button id="btnCadastrar" type="button" class="btn btn-success">Cadastrar</button>
            <button id="btnAtualizar" type="button" class="btn btn-warning">Atualizar</button>
            <button id="btnLista" type="button" class="btn btn-info">Lista de Produtos Cadastrados</button>
        </div>
    </form>
    <form id="ProdutoFormCSV" name="ProdutoFormCSV" method="post" action="Cadastro" enctype="multipart/form-data">
        <div class="form-group">
            <input name="arquivo" type="file" />
        </div>
        <div class="form-group">
            <button id="btnCadastrarCSV" type="submit" class="btn btn-success">Importar Planilha XLSX</button>
        </div>
        <div class="row">
            Para fazer o download da planilha XLSX de exemplo, <a href="http://www.chicodocolchao.com.br/Planilhas/cdc-produtos.xlsx" target="_blank">clique aqui</a>.
        </div>
    </form>
    @if (!string.IsNullOrEmpty(Model.Mensagem))
    {
        if (Model.Erro)
        {
            <ul style="color: red">
                @foreach (string item in ((string)Model.Mensagem).Split("*".ToCharArray(), StringSplitOptions.RemoveEmptyEntries))
                    {
                    <li>@item</li>
                }
            </ul>
        }
        else
        {
            <p style="color: #5cb85c">
                @Model.Mensagem
            </p>
        }
    }
</div>