@using ChicoDoColchao.Dao;

@{
    ViewBag.Title = "Produto - Lista";
}
@{
    UsuarioDao usuarioDao = null;
    if (Request.Cookies.Get("ChicoDoColchao_Usuario") != null)
    {
        usuarioDao = Newtonsoft.Json.JsonConvert.DeserializeObject<ChicoDoColchao.Dao.UsuarioDao>(Request.Cookies.Get("ChicoDoColchao_Usuario").Value);
    }
}
@section styles
{
    <style type="text/css">
        .modal-body {
            padding: 0px 15px 15px 15px;
        }
    </style>
}
@section scripts
{
    <script type="text/javascript">

        function modalPreco(produtoDao) {

            $("#lblNumeroProduto").text(produtoDao.Numero);

            $("#tbLojaProduto").DataTable().clear();
            $("#tbLojaProduto").DataTable().rows.add(produtoDao.LojaProdutoDao).draw();

            var produtoPrecos =
            [
                { ProdutoID: produtoDao.ProdutoID, Descricao: "Atacado", Preco: Globalize.format(produtoDao.PrecoAtacado, "n2") },
                { ProdutoID: produtoDao.ProdutoID, Descricao: "À Vista", Preco: Globalize.format(produtoDao.PrecoAVista, "n2") },
                { ProdutoID: produtoDao.ProdutoID, Descricao: "Até 10x", Preco: Globalize.format(produtoDao.PrecoAte10, "n2") },
                { ProdutoID: produtoDao.ProdutoID, Descricao: "Preço", Preco: Globalize.format(produtoDao.PrecoNormal, "n2") },
            ];

            $("#tbProdutoPreco").DataTable().clear();
            $("#tbProdutoPreco").DataTable().rows.add(produtoPrecos).draw();

            $('#modalpreco').modal('show');
        }

        function excluirProduto(produtoId, numero) {
            if (confirm("Deseja realmente excluir produto " + numero + "?")) {
                var produtoDao = {};

                produtoDao.ProdutoID = produtoId;

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Produto/Excluir",
                    data: { produtoDao: produtoDao },
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Mensagem);
                            return;
                        }

                        // recarrega o grid
                        $("#tbProduto").DataTable().clear();
                        $("#tbProduto").DataTable().rows.add(data.Produtos).draw();

                        // exibe mensagem de sucesso
                        alert(data.Mensagem);
                    }
                });
            }
        }

        $(document).ready(function () {

            var tbProduto = $("#tbProduto").DataTable({
                "ordering": false,
                "pageLength": 10,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                [
                    {
                        "data": function (data, type, row) {
                            return "<a href='#' onclick='modalPreco(" + JSON.stringify(data) + ")'>" + data["Numero"] + "</a>";
                        },
                        "className": "text-center"
                    },
                    { "data": "Descricao", "className": "text-center" },
                    { "data": "CategoriaDao[0].Descricao", "className": "text-center" },
                    { "data": "MedidaDao.Descricao", "className": "text-center" },
                    {
                        "data": function (data, type, row)
                        {
                            var quantidadeEstoque = 0;
                            $(data.LojaProdutoDao).each(function (i, e) {
                                quantidadeEstoque += e.Quantidade;
                            });
                            return quantidadeEstoque;
                        },
                        "className": "text-center"
                    },
                    @*{
                        "data": function (data, type, row) {
                            return data["ComissaoFuncionario"] + "%";
                        },
                        "className": "text-center",
                        "visible": '@usuarioDao.TipoUsuarioDao.TipoUsuarioID' == '@TipoUsuarioDao.ETipoUsuario.Gerencial.GetHashCode()' ? true : false
                    },
                    {
                        "data": function (data, type, row) {
                            return data["ComissaoFranqueado"] + "%";
                        },
                        "className": "text-center",
                        "visible": '@usuarioDao.TipoUsuarioDao.TipoUsuarioID' == '@TipoUsuarioDao.ETipoUsuario.Gerencial.GetHashCode()' ? true : false
                    },*@
                    {
                        "data": function (data, type, row)
                        {
                            return "<i class='glyphicon glyphicon-remove' title='Excluir Produto' style='cursor: pointer' onclick='excluirProduto(" + data["ProdutoID"] + "," + data["Numero"] + ")'></i>";
                        },
                        "className": "text-center",
                        "visible": '@usuarioDao.TipoUsuarioDao.TipoUsuarioID' == '@TipoUsuarioDao.ETipoUsuario.Gerencial.GetHashCode()' ? true : false
                    }
            ]
        });

        var tbLojaProduto = $("#tbLojaProduto").DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,
            "language": {
                "lengthMenu": "_MENU_ registros por página",
                "zeroRecords": "Sem registros a serem exibidos",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "Sem registros a serem exibidos",
                "infoFiltered": "(filtrados de _MAX_ total de registros)",
                "sSearch": "Pesquisar",
                "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
            },
            "columns":
            [
                { "data": "LojaDao.NomeFantasia", "className": "text-center" },
                { "data": "Quantidade", "className": "text-center" }
            ]
        });

        var tbProdutoPreco = $("#tbProdutoPreco").DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,
            "language": {
                "lengthMenu": "_MENU_ registros por página",
                "zeroRecords": "Sem registros a serem exibidos",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "Sem registros a serem exibidos",
                "infoFiltered": "(filtrados de _MAX_ total de registros)",
                "sSearch": "Pesquisar",
                "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
            },
            "columns":
            [
                { "data": "ProdutoID", "visible": false },
                { "data": "Descricao", "className": "text-center" },
                { "data": "Preco", "className": "text-center" }
            ]
        });

        $.getJSON("/Produto/Listar", function (data) {
            tbProduto.clear();
            tbProduto.rows.add(data).draw();
        });

        $("#btnCadastrar").click(function () {
            window.location.href = "/Produto/Cadastro";
        });

        });
    </script>
}
<div class="container">
    <h2><i class="glyphicon glyphicon-list" style="color: #0f3456" title="Produto"></i> Lista de Produtos</h2>
    <hr />
    <div class="form-group">
        <div class="table-responsive">
            <table id="tbProduto" class="table nowrap">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 15%"><b>Número</b></td>
                        <td class="text-center" style="width: 30%"><b>Descrição</b></td>
                        <td class="text-center" style="width: 15%"><b>Categoria</b></td>
                        <td class="text-center" style="width: 10%"><b>Medida</b></td>
                        <td class="text-center" style="width: 10%"><b>Qtd Total Estoque</b></td>
                        <td class="text-center" style="width: 10%"><b>Ação</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <button id="btnCadastrar" type="button" class="btn btn-info">Cadastrar Novo Produto</button>
    @Html.Partial("_ModalProdutoPreco")
</div>