@{
    ViewBag.Title = "Gerenciar";
}

<h2><i class="glyphicon glyphicon-cog" style="color: #b380ff" title="Usuário"></i> Gerenciar</h2>
<hr />
<div class="row">
    <div class="col-lg-6">
        <a href="@Url.Action("Cadastro","Cliente")" target="_self"><i class="glyphicon glyphicon-user" style="cursor: pointer"></i> Cadastro de Clientes</a> @*font-size: 5em;*@        
    </div>
    <div class="col-lg-6">
        <a href="@Url.Action("Lista","Cliente")" target="_self"><i class="glyphicon glyphicon-list" style="cursor: pointer"></i> Lista de Clientes</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a href="@Url.Action("Cadastro","Pedido")" target="_self"><i class="glyphicon glyphicon-user" style="cursor: pointer"></i> Cadastro de Pedidos</a>
    </div>
    <div class="col-lg-6">
        <a href="@Url.Action("Lista","Pedido")" target="_self"><i class="glyphicon glyphicon-list" style="cursor: pointer"></i> Lista de Pedidos</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a href="@Url.Action("Cadastro","Loja")" target="_self"><i class="glyphicon glyphicon-user" style="cursor: pointer"></i> Cadastro de Lojas</a>
    </div>
    <div class="col-lg-6">
        <a href="@Url.Action("Lista","Loja")" target="_self"><i class="glyphicon glyphicon-list" style="cursor: pointer"></i> Lista de Lojas</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a href="@Url.Action("Cadastro","Funcionario")" target="_self"><i class="glyphicon glyphicon-user" style="cursor: pointer"></i> Cadastro de Funcionário</a>
    </div>
    <div class="col-lg-6">
        <a href="@Url.Action("Lista","Funcionario")" target="_self"><i class="glyphicon glyphicon-list" style="cursor: pointer"></i> Lista de Funcionário</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a href="@Url.Action("Cadastro","Medida")" target="_self"><i class="glyphicon glyphicon-user" style="cursor: pointer"></i> Cadastro de Medidas</a>
    </div>
    <div class="col-lg-6">
        <a href="@Url.Action("Lista","Medida")" target="_self"><i class="glyphicon glyphicon-list" style="cursor: pointer"></i> Lista de Medidas</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a href="@Url.Action("Cadastro","Linha")" target="_self"><i class="glyphicon glyphicon-user" style="cursor: pointer"></i> Cadastro de Linhas</a>
    </div>
    <div class="col-lg-6">
        <a href="@Url.Action("Lista","Linha")" target="_self"><i class="glyphicon glyphicon-list" style="cursor: pointer"></i> Lista de Linhas</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a href="@Url.Action("Cadastro","Produto")" target="_self"><i class="glyphicon glyphicon-user" style="cursor: pointer"></i> Cadastro de Produtos</a>
    </div>
    <div class="col-lg-6">
        <a href="@Url.Action("Lista","Produto")" target="_self"><i class="glyphicon glyphicon-list" style="cursor: pointer"></i> Lista de Produtos</a>
    </div>
</div>
