@model ChicoDoColchao.Models.ColchaoIdealModel

@{
    ViewBag.Title = "Colchão Ideal";
}

<h2><i class="glyphicon glyphicon-ok" style="color: #5cb85c" title="Colchão Ideal"></i> Colchão Ideal</h2>
<hr />
@using (Html.BeginForm("Verificar", "ColchaoIdeal", FormMethod.Post, new { id = "ColchaoIdealForm" }))
{
    <div class="form-group">
        @Html.DropDownListFor(x => x.TipoId, new SelectList(Model.Tipos, "IdTipo", "DsTipo"), "Tipo", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TipoId)
    </div>
    <div class="form-group">
        @Html.DropDownListFor(x => x.TamanhoId, new SelectList(Model.Tamanhos, "IdTamanho", "DsTamanho"), "Tamanho", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TamanhoId)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(x => x.Altura, new { @class = "form-control", @placeholder = "Altura (ex: 1.70cm)" })
        @Html.ValidationMessageFor(x => x.Altura)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(x => x.Peso, new { @class = "form-control", @placeholder = "Peso (ex: 70kg)" })
        @Html.ValidationMessageFor(x => x.Peso)
    </div>
    <div class="form-group">
        <button id="btnVerificar" type="submit" class="btn btn-success">Verificar</button>
    </div>
}

