@{
    ViewBag.Title = "Chico do Colchão - Saia do velho e durma com o Chico";
}
<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Verifique todas as nossas opções de atendimento</h2>
        <h3>Todo nosso estoque em <b style="color: #004f99">10x sem juros!</b></h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 text-center" style="padding: 15px">
        <i class="glyphicon glyphicon-ok" style="font-size: 7em; color: #5cb85c"></i>
        <a href="@Url.Content("~/ColchaoIdeal")"><h3>Colchão Ideal</h3></a>
        <p>Saiba qual o colchão ideal para você</p>
    </div>
    <div class="col-sm-4 text-center" style="padding: 15px">
        <i class="glyphicon glyphicon-map-marker" style="font-size: 7em; color: #c9302c"></i>
        <a href="@Url.Content("~/OndeComprar")"><h3>Onde Comprar</h3></a>
        <p>Veja qual loja mais próxima de você</p>
    </div>
    <div class="col-sm-4 text-center" style="padding: 15px">
        <i class="glyphicon glyphicon-home" style="font-size: 7em; color: #286090"></i>
        <a href="@Url.Content("~/AtendimentoDelivery")"><h3>Atendimento Delivery</h3></a>
        <p>Não pode ir à loja? Solicite atendimento delivery!</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 text-center" style="padding: 15px">
        <i class="glyphicon glyphicon-time" style="font-size: 7em; color: #ec971f"></i>
        <a href="@Url.Content("~/AgendarVisita")">
            <h3>Agendar Visita</h3>
        </a>
        <p>Agende uma visita para ser melhor atendido</p>
    </div>
    <div class="col-sm-4 text-center" style="padding: 15px">
        <i class="glyphicon glyphicon-phone" style="font-size: 7em"></i>
        <a href="@Url.Content("~/BaixarApp")">
            <h3>Baixe Nosso App</h3>
        </a>
        <p>Baixe nosso aplicativo nas lojas virtuais (Breve)</p>
    </div>
    <div class="col-sm-4 text-center" style="padding: 15px">
        <i class="glyphicon glyphicon-envelope" style="font-size: 7em; color: #31b0d5"></i>
        <a href="@Url.Content("~/Contato")">
            <h3>Contato</h3>
        </a>
        <p>Dúvidas? Entre em contato conosco!</p>
    </div>
</div>